<div class="container-fluid col-lg-8 col-lg-offset-4 col-sm-8 col-sm-offset-4">
  <h1 class="all-containers">All Collections</h1>

  <table class="table table-hover" style="width:50%">
  <% @collections.each do |collection| %>
        <tr>
          <td>
            <a href="/users/<%= collection.user_id %>/collection"><%= collection.title %></a> 
            <% unless current_user && current_user.has_upvoted_collection?(collection) %>
              <% if current_user %>
                <a href="/collection/<%= collection.id %>/upvote"<button class="btn btn-success btn-xs pull-right" type="submit"><%= collection.upvotes.count %></button></a>
              <% else %>
                <button class="btn btn-success btn-xs pull-right"><%= collection.upvotes.count %></button>
              <% end %>
            <% else %>
              <button class="btn btn-success btn-xs pull-right" type="submit"><%= collection.upvotes.count %></button>
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
</div>