<h1>All Collections</h1>

<table style="width:50%">
<% @collections.each do |collection| %>
      <tr>
        <td>
          <a href="/users/<%= collection.user_id %>/collection"><%= collection.title %></a> 
          <% unless current_user && current_user.has_upvoted_collection?(collection) %>
            <% if current_user %>
              <a href="/collection/<%= collection.id %>/upvote"<button class="btn btn-info" type="submit"><%= collection.upvotes.count %></button></a>
            <% else %>
              <button class="btn btn-info"><%= collection.upvotes.count %>
            <% end %>
          <% else %>
            <button class="btn btn-info" type="submit"><%= collection.upvotes.count %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>