<div class="container-fluid col-lg-8 col-lg-offset-2 col-sm-12">
<h1>Team Snapshot</h1>

<h2>
  <form method="get" action="/team_snapshot">
    <select name="team_choice">
      <% if @team %>
        <option selected="select">Select a team...</option>
      <% else %>
        <option>Select a team...</option>
      <% end %>
      <% @teams.each do |team| %>
        <% if @team == team %>
          <option selected="select" value='<%= team %>'><%= team %></option>
        <% else %>
          <option value='<%= team %>'><%= team %></option>
        <% end %>
      <% end %>
    </select>

    <input class="team-submit btn btn-info btn-xs" type="submit" value="Get Team Snapshot!">

    </form>
  </h2>

<% if @team_rank %>
  <table class="table table-hover team-snap" style="width: 100%">
    <tr>
      <th>Current place in the standings</th>
      <td><%= @team_rank %></td>
    </tr>
    <tr>
      <th>Top Scoring Player</th>
      <td><img src='<%= @top_player_photo %>'/>
      <p><%= @top_player_name %></p></td>
    </tr>
    <tr>
      <th>Top Goalie</th>
      <td><img src='<%= @top_goalie_photo %>'/>
      <p><%= @top_goalie_name %></p></td>
    </tr>
    <tr>
      <th>Next Game</th>
      <td><%= @next_game %></td>
    </tr>
    <tr>
      <th>Last Game</th>
      <td><%= @last_game %></td>
    </tr>
  </table>
<% end %>
</div>
