<h1>Team Snapshot</h1>

<form method="get" action="/team_snapshot">
  <select name="team_choice">
    
    <% if @team %>
      <option selected="select">Select Team...</option>
    <% else %>
      <option>Select Team...</option>
    <% end %>
    <% @teams.each do |team| %>
      <% if @team == team %>
        <option selected="select" value='<%= team %>'><%= team %></option>
      <% else %>
        <option value='<%= team %>'><%= team %></option>
      <% end %>
    <% end %>
  </select>

  <div>
    <input type="submit" value="Get Team View">
  </div>

<% if @team_rank %>
  <table>
    <tr>
      <td>Team Rank</td>
      <td><%= @team_rank %></td>
    </tr>
    <tr>
      <td>Top Scoring Player</td>
      <td><img src='<%= @top_player[1] %>'/></td>
      <td><%= @top_player[0] %></td>
    </tr>
    <tr>
      <td>Top Goalie</td>
      <td><img src='<%= @top_goalie[1] %>'/></td>
      <td><%= @top_goalie[0] %></td>
    </tr>
    <tr>
      <td>Next Game</td>
      <td><%= @next_game %></td>
    </tr>
    <tr>
      <td>Last Game</td>
      <td><%= @last_game %></td>
    </tr>
  </table>
<% end %>

