<div class="container">
  <div class="jumbotron text-center"> 
    <% if @sentence %>
      <h1>
        <%= @sentence %>
      </h1>
    <% end %>

    <form method="post" action='/saved_phrase'>
      <div>
        <input class="generate btn btn-success btn-sm-2" type="submit" value="MAKE ME SPORTER">
      </div>
    </form>
  </div>
  <% if current_user %>
    <div class="container">
      <form method="post" action='/saved_phrases'>
        <input class="save-phrase btn btn-info pull-right" type="submit" value="Save this phrase">
      </form>
      <p>
        Saved Phrases: <%= @phrase_count %>
      </p>
    </div>

    <% if @field_blank %>
      <p class="pull-right">
        You can't save when the field is blank! Shame on you :(
      </p>
    <% end %>
  </div>
  <% end %>

<table style=100%>
  <tr>
    <td>Top Three Teams</td>
    <td>Bottom Three Teams</td>
    <td>Scoring Leaders</td>
    <td>Top Goalies</td>
    <td>Popular Links</td>
  </tr>
  <tr>
    <td><%= @top_three_teams[0][:name] %></td>
    <td><%= @bottom_three_teams[0][:name] %></td>
    <td><%= @top_three_pts[0][:name] %></td>
    <td><%= @top_three_svp[0][:name] %></td>
    <td><%= Twitter::Autolink.auto_link(@top_three_links[0][0]) %></td>
  </tr>
  <tr>
    <td><%= @top_three_teams[1][:name] %></td>
    <td><%= @bottom_three_teams[1][:name] %></td>
    <td><%= @top_three_pts[1][:name] %></td>
    <td><%= @top_three_svp[1][:name] %></td>
    <td><%= Twitter::Autolink.auto_link(@top_three_links[1][0]) %></td>
  </tr>
  <tr>
    <td><%= @top_three_teams[2][:name] %></td>
    <td><%= @bottom_three_teams[2][:name] %></td>
    <td><%= @top_three_pts[2][:name] %></td>
    <td><%= @top_three_svp[2][:name] %></td>
    <td><%= Twitter::Autolink.auto_link(@top_three_links[2][0]) %></td>
  </tr>
</table>
