<div class="container main">
  <div class="jumbotron text-center"> 
    <% if @sentence %>
      <h1>
        <%= @sentence %>
      </h1>
    <% end %>

    <form method="post" action='/saved_phrase'>
      <div>
        <input class="generate btn btn-success btn-sm-2" type="submit" value="MAKE ME SPORTER">
      </div>
    </form>
  </div>
  <% if current_user %>
      <form method="post" action='/saved_phrases'>
        <div>
        <input class="save-phrase btn btn-info pull-right" type="submit" value="Save this phrase">
        </div>
      </form>
      <p>
        <a href="/collection">Saved Phrases: <%= @phrase_count %></a>
      </p>

    <% if @field_blank %>
      <p class="pull-right">
        You can't save when the field is blank! Shame on you :(
      </p>
    <% end %>
  <% end %>

  <footer>
    <table class="table table-hover" style="width: 100%">
      <tr>
        <th>Top Three Teams</th>
        <th>Bottom Three Teams</th>
        <th>Scoring Leaders</th>
        <th>Top Goalies</th>
        <th>Popular Links</th>
      </tr>
      <tr>
        <td>1. <%= @top_three_teams[0][:name] %></td>
        <td>30. <%= @bottom_three_teams[0][:name] %></td>
        <td>1. <%= @top_three_pts[0][:name] %></td>
        <td>1. <%= @top_three_svp[0][:name] %></td>
        <td><%= Twitter::Autolink.auto_link(@top_three_links[0].message) %></td>
      </tr>
      <tr>
        <td>2. <%= @top_three_teams[1][:name] %></td>
        <td>29. <%= @bottom_three_teams[1][:name] %></td>
        <td>2. <%= @top_three_pts[1][:name] %></td>
        <td>2. <%= @top_three_svp[1][:name] %></td>
        <td><%= Twitter::Autolink.auto_link(@top_three_links[1].message) %></td>
      </tr>
      <tr>
        <td>3. <%= @top_three_teams[2][:name] %></td>
        <td>28. <%= @bottom_three_teams[2][:name] %></td>
        <td>3. <%= @top_three_pts[2][:name] %></td>
        <td>3. <%= @top_three_svp[2][:name] %></td>
        <td><%= Twitter::Autolink.auto_link(@top_three_links[2].message) %></td>
      </tr>
    </table>
  </footer>
</div>